/* comment */

*  {
	font-family: "Helvetica" "Times New Roman" sans-serif;
}

body {
	background-image: url("images/sky.png");
	color: #fdfff7;
}

h1 {
	
}

.container {
    overflow: hidden;
    background-color: #281c3c;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
	color: #fdfff7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}


.container a:hover {
    background-color:  #1f3e5a;
}


.active {
	background-color:  #145051;  	
	color:  white;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	background-color: #C2C1BD;
	margin: 10px 20px;
}

#my_links li {
	margin: -10px 0px 10px 0px;
	list-style-type: none;
}

img.profile {
	border-radius: 12px;
	height: 300px;
	min-height: 50px;
	max-height: 100%;
	width: auto;
	position: relative;
	margin: 15px 5px 10px 5px;
	border: 1px solid white;
	float: left;
}

img.icon {
	height: 43px;
	max-height: 100px;
	width: auto;
	float: left;
	padding: 0px 10px;
}

img.cover {
	height: 500px;
	width: auto;
	float: right;
	border: 2px solid white;
	margin: 10px 10px;
}

a {
	color: red;
}

a:hover {
	color: #f4cf16;
}