/* comment */

*  {
	font-family: "Helvetica" "Times New Roman" sans-serif;
	box-sizing: border-box;
}

body {  
	color: black;
}


@media only screen and (max-width: 600px) {
	h2 {
		font-size: 16px;
	}
	
	div.container {
		position: fixed;
		color: black;
		overflow: hidden;
		background-color: #ECE09D;
	}
	
	div.container a {
		float: none;
		font-family: Courier New, monospace;
		font-size: 8px;
		text-align: center;
		padding-right: 2px;
		padding-left: 2px;
		border-right: 0px solid white;
		border-left: 0px solid white;
	}

	div.container div {
		float: none;
		font-family: Courier New, monospace;
		font-style: italic;
		font-size: 0x;
		font-weight: 600;
		text-align: center;
		padding-right: 0px;
		padding-left: 0px;
	}

	.container img {
		display: none;
	}
	
	img.profile {
		display: none;
	}
	
	div.grid-container {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
	}
	
	div.grid-container2 {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		gap: 25px;
		padding: 0px 10px 0px 10px;
	}
	.viewer {
		width: 300px;
		height: 400px;
	}
	
	#pdf_view2 {
		width: 300px;
		height: 400px;
	}
	
}

div.gallery {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 20px;
	padding: 5px;
	margin: 5px;
	border: 5px solid #ccc;
	background-color: #FFFDD0;

}

div.gallery a:hover {
	background-color: #1f3e5a;
}

div.gallery img {
	width: 100%;
	height: auto;
	padding: 1px;
}

div.desc {
	padding: 15px;
	text-align: center;
}

h4 {
	text-align: center;
}

.active {
	background-color: #1f3e5a;  	
	color:  #EFEEF3;
}

.button {
	background-color: #EFEEF3;
	border: 2px solid #1f3e5a;
	border-radius: 5px;
	color: #1f3e5a;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: Courier New, monospace;
	font-size: 16px;
	width: 100%;
	min-width: 89px;
}

.button2 {
	background-color: #EFEEF3;
	border: 2px solid #1f3e5a;
	border-radius: 5px;
	color: #1f3e5a;
	padding: 2px;
	margin: 2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-family: Courier New, monospace;
	width: 100%;
	float: left;
}

.button:hover {
	background-color: #1f3e5a;
	color: #f4cf16;
}

.button2:hover {
	background-color: #1f3e5a;
	color: #f4cf16;
}

.container {
	color: black;
    overflow: hidden;
	background-color: #ECE09D;
	
    /* background-color: #281c3c; */
}

.container a {
    float: left;
	font-family: Courier New, monospace;
    font-size: 16px;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
	border-right: 1px solid #EFEEF3;
	border-left: 1px solid #EFEEF3;

}

.container div {
	float: left;
	font-family: Courier New, monospace;
	font-style: italic;
	font-size: 24px;
	font-weight: 600;
    padding: 10px 0px 0px 5px;
	margin-right: 5%;
	text-decoration: none;
}

.container a:hover {
    background-color:  #1f3e5a;
}

.commentary {
	padding: 0px 10px 0px 0px;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.grid-container {
	display: grid;
	grid-template-columns: 25% auto 10%;
	gap: 25px;
	padding: 0px 10px 0px 10px;
}

.grid-container2 {
	display: grid;
	grid-template-columns: 10% 45% auto;
	gap: 25px;
	padding: 0px 10px 0px 10px;
}

.grid-container3 {
	display: grid;
	grid-template-columns: 40% 40%;
	gap: 25px;
	padding: 0px 10px 0px 10px;
}

.profile-frame {
	position: relative;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

.slide a {
	color: blue;
}

.topper {
	margin: 10px;
}

.viewer {
	border: 2px solid #1f3e5a;
	border-radius: 5px;
	margin-top: 10px;
	width: 600px;
	height: 300px;
}

.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	background-color: #C2C1BD;
	margin: 10px 20px;
}

#my_links li {
	margin: -10px 0px 10px 0px;
	list-style-type: none;
}

img.profile {
	border-radius: 12px;
	min-width: 50px;
	max-width: 100%;
	height: auto;
	position: relative;
	margin: 10px 10px 10px 5px;
	border: 1px solid black;
	z-index: 2;
}


img.icon {
	height: 43px;
	max-height: 100px;
	width: auto;
	float: left;
	padding: 0px 10px;
}

img.cover {
	max-width: 100%;
	height: auto;
	float: right;
	border: 2px solid black;
	margin: 10px 10px;
}

a {
	color: #145051;
}

a:hover {
	color: #f4cf16;
}

ul {
	list-style-type: none;
	padding: 0px;
}